{% extends "base_sistema.html" %}
{% block subtitulo %} Avaliações {% endblock%}
    {% block conteudo %}
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Atualizar Avaliações</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form class="row g-3" action="{{url_for('atualizar_avaliacao', id=aval.id)}}" method="POST" name="dados_user" onSubmit="return enviardados_user();">
              <div class="box-body">               
                <div class="col-md-4">
                  <label class="form-label">Nota</label>
                  <input class="form-control" type="text" name="nota" id="nota" value="{{aval.nota}}">
                </div>
                <div class="col-md-4">
                  <label class="form-label" >Data da Avaliação</label>
                  <input class="form-control" type="date" name="data_avaliacao" value="{{aval.data_avaliacao}}">
                </div>
                <div class="col-md-4">
                  <label class="form-label">Id Aluno</label>
                  <input class="form-control"  type="text" name="id_aluno" value="{{aval.id_aluno}}">
                </div> 
                <div class="col-md-4">
                  <label class="form-label">Id Matéria</label>
                  <input class="form-control"  type="text" name="id_materia" value="{{aval.id_materia}}">
                </div> 
                <div class="col-md-12">
                  <br>                      
                </div>                                                         
                <div class="col-md-12">
                  <button class="btn btn-primary" type="submit">Alterar</button>                      
                </div>
                       
            </div>
            
            </form>                 
          </div><!-- /.box -->         
        </div><!--/.col (left) -->
        <!-- right column -->        
      </div>   <!-- /.row -->
    </section><!-- /.content -->
    {% endblock %}