{% extends "base_sistema.html" %}
{% block subtitulo %} Financeiro {% endblock%}
    {% block conteudo %}
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Atualizar Financeiro</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form class="row g-3" action="{{url_for('atualizar_financeiro', id=finan.id)}}" method="POST" name="dados_user" onSubmit="return enviardados_user();">
              <div class="box-body">               
                <div class="col-md-4">
                  <label class="form-label">Mensalidade</label>
                  <input class="form-control" type="text" name="mensalidade" id="mensalidade" value="{{finan.mensalidade}}">
                </div>
                <div class="col-md-4">
                  <label class="form-label" >Valor</label>
                  <input class="form-control" type="text" name="valor" value="{{finan.valor}}">
                </div>
                <div class="col-md-4">
                 
                  <label class="form-label">Id Aluno</label>
                  <input class="form-control"  type="text" name="id_aluno" value="{{finan.id_aluno}}">
                </div> 
                <div class="col-md-12">
                  <br>                      
                </div>                                                         
                <div class="col-md-12">
                  <button class="btn btn-primary" type="submit">Alterar</button>                      
                </div>
                       
            </div>
            
            </form>                 
          </div><!-- /.box -->         
        </div><!--/.col (left) -->
        <!-- right column -->        
      </div>   <!-- /.row -->
    </section><!-- /.content -->
    {% endblock %}