{% extends "base_sistema.html" %}
{% block subtitulo %} Alunos {% endblock%}
    {% block conteudo %}
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Atualização de Cadastro de Alunos</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form class="row g-3" action="{{url_for('atualizar_aluno', id=alun.id)}}" method="POST" name="dados_user" onSubmit="return enviardados_user();">
              <div class="box-body">               
                <div class="col-md-4">
                  <label class="form-label">Nome</label>
                  <input class="form-control" type="text" name="nome" id="nome" value="{{alun.nome}}">
                </div>
                <div class="col-md-4">
                  <label class="form-label" >Data de Nascimento</label>
                  <input class="form-control" type="date" name="data_nasc" value="{{alun.data_nasc}}">
                </div>
                <div class="col-md-4">
                 
                  <label class="form-label">CPF</label>
                  <input class="form-control"  type="text" name="cpf" value="{{alun.cpf}}">
                </div> 
                <div class="col-md-12">
                  <br>                      
                </div>                                                         
                <div class="col-md-12">
                  <button class="btn btn-primary" type="submit">Alterar</button>                      
                </div>
                       
            </div>
            
            </form>                 
          </div><!-- /.box -->         
        </div><!--/.col (left) -->
        <!-- right column -->        
      </div>   <!-- /.row -->
    </section><!-- /.content -->
    {% endblock %}