
  
{% extends "base_sistema.html" %}
{% block subtitulo %} Financeiro {% endblock%}
{% block conteudo %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box-header">
        <h3 class="box-title">Financeiro</h3>
      </div><!-- /.box-header -->
      <div class="box">
        <div class="car">
          {% with messages = get_flashed_messages()%}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success">
                  {{message}}                                          
                </div>                                 
                {% endfor %}
             {% endif %}
          {% endwith %}
        </div>      
          <div class="box-body">
            <table id="example" class="display" style="width:100%">
              <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Mensalidade</th>
                    <th scope="col">Valor</th>
                    <th scope="col">ID Aluno</th>
                    <th scope="col">Aluno</th>
                    <th scope="col">Alterar</th>                     
                    <th scope="col">Excluir</th>
                  </tr>
              </thead>
              <tbody>
                {% for fin in finan %}
                  <tr>
                    <td>{{fin.id}}</td>
                    <td>{{fin.mensalidade}}</td>
                    <td>{{fin.valor}}</td>
                    <td>{{fin.id_aluno}}</td>
                    <td>{{fin.aluno.nome}}</td>
                    <td><a href="{{url_for('atualizar_financeiro',id=fin.id)}}"><span class="label label-success"><i class="fa-solid fa-pencil"></i> Alterar</span></a></td>
                    <td><a href="{{url_for('excluir_financas',id=fin.id)}}"><span class="label label-danger"><i class="fa-solid fa-eraser"></i> Excluir</span></a></td>
                  </tr>
                {% endfor %}
               
                           
              </tbody>
          </table>
          <a href="{{url_for('inserir_financas')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Inserir Finanças</a>
       </div>      
    </div>        
  </div>
</section>
{% endblock %}
     